@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("UploadXML", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" id="fileUpload" name="fileUpload" style="float:left" />
    <input type="submit" value="Get Asientos List" />
}
@if (ViewBag.ShowList)
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>IdAsiento</th>
            <th>NoAsiento</th>
            <th>DescripcionAsiento</th>
            <th>FechaAsiento</th>
            <th>CuentaContable</th>
            <th>TipoMovimiento</th>
            <th>Monto</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IdAsiento</td>
            <td>@item.NoAsiento</td>
            <td>@item.DescripcionAsiento</td>
            <td>@item.FechaAsiento</td>
            <td>@item.CuentaContable</td>
            <td>@item.TipoMovimiento</td>
            <td>@item.Monto</td>
        </tr>
        }
    </table>
}